{% extends "gym/base.html" %}

{% block content %}
<style>
    .links {
        font-size: 180%;
    }
</style>
<div>
    <h1>Welcome!</h1>
    <div class="links">
        <ul>
            <li>
                <a href={% url 'train' %}>train</a>
            </li>
            <li>
                <a href={% url 'list_phrases' %}>list_phrases</a>
            </li>
            <li>
                <a href={% url 'html_register_phrases' %}>register_phrases</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}