<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
</head>

<body>
    <div id="app">
        <p>時制: [[ tense ]]</p>
        <p>主語: [[ subject ]]</p>
        <p>種類: [[ sentence_type ]]</p>
        <p>フレーズ: [[ phrase ]]</p>
        <h1 v-show="show">[[ sentence ]]</h1>
        <button @click="toggle">show</button><br>
        <a href="{% url 'index' %}">next</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.prod.js"></script>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    show: false,
                    sentence: "No content.",
                    subject: "No content.",
                    sentence_type: "No content.",
                    apiData: {},
                }
            },
            mounted: function () {
                this.getSentence()
                axios.get("http://nyamamotopy.pythonanywhere.com/gym/api/sentence")
                    .then((res, err) => {
                        this.sentence = res.data.sentence
                        this.subject = res.data.subject
                        this.sentence_type = res.data.sentence_type
                        this.phrase = res.data.phrase
                        this.tense = res.data.tense
                    })
            },
            methods: {
                getSentence() {
                    console.log("fire")
                },
                toggle() {
                    this.show = !this.show
                }
            },
            delimiters: ["[[", "]]"]
        }).mount("#app")

    </script>
</body>

</html>