{% extends "gym/base.html" %}

{% block content %}
<script>
    const toggle = async (id) => {
        const endpoint = "{% url 'api_toggle_phrases' %}";
        const url = `${location.protocol}//${location.host}${endpoint}`;
        const csrftoken = await getCsrftoken(url);
        const data = {
            id: id
        }

        fetch(url, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify(data)
        })
            .then(data => {
                if (data.status == 201) {
                    const element = document.getElementById(id)
                    console.log(element.checked)
                };
            });
    }
</script>
<h1>All Phrases</h1>
<div>
    <table>
        {% for phrase in page_obj %}
        <tr>
            <td>{{ phrase.base.english }}</td>
            <td>{{ phrase.base.japanese }}</td>
            <td><input type="checkbox" onchange="toggle({{phrase.id}})" id="{{phrase.id}}"
                    {{phrase.active|yesno:"checked,"}}></td>
            <!--<td>{{ phrase.achievement_rate }}</td>-->
            <td>
                {% if phrase.achievement_rate == 1 %}
                &#11088;
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}