{% extends "gym/base.html" %}

{% block content %}
<style>
    #app {
        font-size: 180%;
    }

    .buttons {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .button-show,
    .button-succeed,
    .button-failed {
        margin: 10px;
        font-family: inherit;
        font-size: 100%;
        font-weight: bold;
        padding: .5em 1em;
        color: #0C4B33;
        border: none transparent;
        background-color: white;
        text-decoration: none;
        border-radius: 2px;
    }

    #answer {
        font-size: 100%;
        display: none;
    }

    #answer.hide {
        display: inline;
    }
</style>

<script>
    const toggle = () => {
        const sentence = document.getElementById('answer');
        sentence.classList.toggle('hide');
    }
    const logging = (result) => {
        const xhr = new XMLHttpRequest();
        const endpoint = "{% url 'api_logging' %}";
        const url = `${location.protocol}//${location.host}${endpoint}`;

        xhr.withCredentials = true

        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    const csrftoken = document.cookie.split("=")[1];
                    const query = `${url}?phrase_group_id={{ id }}&result=${result}`
                    xhr.open('POST', query);
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    xhr.send();
                }
                if (xhr.status == 201) {
                    window.location.href = "{% url 'train' %}"
                }
            }
        }

        xhr.open('GET', url);
        xhr.send();

    }
</script>

<div id="app">
    <p>時制: {{ tense }}</p>
    <p>主語: {{ subject }}</p>
    <p>種類: {{ sentence_type }}</p>
    <p>フレーズ: {{ phrase }}</p>
    <hr>
    <div id="answer">
        <p>{{ sentence }}</p>
        <p>{{ base_ja }}</p>
    </div>
    <div class="buttons">
        <button onclick="toggle()" class="button-show">show</button><br>
        <button onclick="logging('succeed')" class="button-succeed">○</button>
        <button onclick="logging('failed')" class="button-failed">×</button>
    </div>
</div>
{% endblock %}