{% extends "gym/base.html" %}

{% block content %}
<style>
    #app {
        font-size: 180%;
    }

    .buttons {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .button-show,
    .button-succeed,
    .button-failed {
        margin: 10px;
        font-family: inherit;
        font-size: 100%;
        font-weight: bold;
        padding: .5em 1em;
        color: #0C4B33;
        border: none transparent;
        background-color: white;
        text-decoration: none;
        border-radius: 2px;
    }

    #answer {
        font-size: 100%;
        display: none;
    }

    #answer.show {
        display: inline;
    }
</style>

<script>
    const toggle = () => {
        const answer = document.getElementById('answer');
        answer.classList.toggle('show');
    }

    const hide = () => {
        const answer = document.getElementById('answer');
        answer.classList.remove('show');
    }

    const logging = (result) => {
        const xhr = new XMLHttpRequest();
        const endpoint = "{% url 'api_logging' %}";
        const url = `${location.protocol}//${location.host}${endpoint}`;

        xhr.withCredentials = true

        xhr.onreadystatechange = () => {
            if (xhr.readyState == 4 && xhr.status == 200) {
                const csrftoken = document.cookie.split("=")[1];
                const query = `${url}?phrase_group_id=${id}&result=${result}`
                xhr.open('POST', query);
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
                xhr.send();
            }
        }
        xhr.open('GET', url);
        xhr.send();
    }

    const getSentence = (result) => {
        const xhr = new XMLHttpRequest();
        const endpoint = "{% url 'api_sentence' %}";
        const url = `${location.protocol}//${location.host}${endpoint}`;
        xhr.onreadystatechange = () => {
            const data = JSON.parse(xhr.response);
            window.document.getElementById("tense").innerHTML = data.tense;
            window.document.getElementById("subject").innerHTML = data.subject;
            window.document.getElementById("sentence_type").innerHTML = data.sentence_type;
            window.document.getElementById("phrase").innerHTML = data.phrase;
            window.document.getElementById("sentence").innerHTML = data.sentence;
            window.document.getElementById("base_ja").innerHTML = data.base_ja;
            id = data.id
        }
        xhr.open('GET', url);
        xhr.send();
    }

    let id;
    getSentence();

</script>

<div id="app">
    <p>時制: <span id="tense"></span></p>
    <p>主語: <span id="subject"></span></p>
    <p>種類: <span id="sentence_type"></span></p>
    <p>フレーズ: <span id="phrase"></span></p>
    <hr>
    <div id="answer">
        <p><span id="sentence"></span></p>
        <p><span id="base_ja"></span></p>
    </div>
    <div class="buttons">
        <button onclick="toggle()" class="button-show">show</button><br>
        <button onclick="logging('succeed');hide();getSentence();" class="button-succeed">○</button>
        <button onclick="logging('failed');hide();getSentence();" class="button-failed">×</button>
    </div>
</div>
{% endblock %}