<script>
    const toggle = () => {
        const answer = document.getElementById('answer');
        answer.classList.toggle('show');
    }

    const hide = () => {
        const answer = document.getElementById('answer');
        answer.classList.remove('show');
    }

    const getCookie = (name) => {
        if (document.cookie && document.cookie !== '') {
            for (const cookie of document.cookie.split(';')) {
                const [key, value] = cookie.trim().split('=')
                if (key === name) {
                    return decodeURIComponent(value)
                }
            }
        }
    }

    const getCsrftoken = async (url) => {
        let csrftoken = getCookie("csrftoken")
        if (csrftoken == undefined) {
            await fetch(url)
            csrftoken = getCookie("csrftoken");
        }
        return csrftoken
    }

    const logging = async (result) => {
        const endpoint = "{% url 'api_logging' %}";
        const url = `${location.protocol}//${location.host}${endpoint}`;
        const csrftoken = await getCsrftoken(url);
        const data = {
            phrase_group_id: id,
            result: result
        }

        fetch(url, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify(data)
        })
            .then(data => {
                if (data.status == 201) {
                    hide();
                    getSentence();
                };
            });
    };

    const innerHTML = (id, htmlText) => {
        const element = window.document.getElementById(id)
        if (element != null) {
            element.innerHTML = htmlText
        }
    }

    const getSentence = () => {
        const xhr = new XMLHttpRequest();
        const endpoint = "{% url 'api_sentence' %}";
        const url = `${location.protocol}//${location.host}${endpoint}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                innerHTML("tense", data.tense)
                innerHTML("subject", data.subject)
                innerHTML("sentence_type", data.sentence_type)
                innerHTML("phrase", data.phrase)
                innerHTML("sentence", data.sentence)
                innerHTML("base_ja", data.base_ja)
                id = data.id
            });
    };

    let id;
    getSentence();

</script>